* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.logo {
  color: #fff;
}
.header {
  background-color: lightcoral;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
.main {
  margin-top: 30px;
  position: relative;
}
.cart-button {
  padding: 5px 15px;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  font-size: 14px;
}

.goods-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.item-btn {
  background: lightcoral;
  border-radius: 50px;
  color: #fff;
  padding: 14px;
  border: none;
  cursor: pointer;
}
.goods-item {
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  flex-basis: 15%;
  height: 300px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hidden {
  display: none;
}

.cart {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  border: 1px solid black;
  background-color: #fff;
  z-index: 1000;
}

.cart-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.cart-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.cart-item {
  display: flex;
  justify-content: space-around;
}
